# Google OAuth (Better Auth)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google APIs (Drive + Calendar)
GOOGLE_REFRESH_TOKEN=
GOOGLE_ACCESS_TOKEN=

# Google Drive
DRIVE_ROOT_FOLDER_ID=182uxxUjN7KJJDm1vAZ_AEyKvAwwcTPxY

# Email (Resend)
RESEND_API_KEY=

# App
NEXT_PUBLIC_APP_NAME=EZY Studio
NEXT_PUBLIC_PRODUCER_NAME=EZY
